.toggle-switch {
	width: 80px;
	height: 34px;
	background-color: var(--border-color);
	border-radius: 34px;
	border: 5px ridge #fccf3d;
	transition: all 0.3s ease-in-out;
	display: flex;
	transform: translateZ(0);
	overflow: hidden;
}

.toggle-switch:hover {
	box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.8);
	transform: translateY(-1px);
}

.toggle-switch input {
	opacity: 0;
	width: 0;
	height: 0;
	margin: 0;
}

.gear-image {
	width: 34px;
	height: 34px;
}
.sun-image {
	position: absolute;
	width: 34px;
	height: 34px;
}
.moon-image {
	position: absolute;
	width: 34px;
	height: 34px;
}

#switch-input:checked + label img.sun-image {
	-webkit-transform: translateY(40px);
	-ms-transform: translateY(40px);
	transform: translateY(40px);
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	transition-duration: 1s;
}

#switch-input:not(:checked) + label img.sun-image {
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	transition-duration: 1s;
}

#switch-input:checked + label img.moon-image {
	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	transition-duration: 1s;
}

#switch-input:not(:checked) + label img.moon-image {
	-webkit-transform: translateY(-40px);
	-ms-transform: translateY(-40px);
	transform: translateY(-40px);
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	transition-duration: 1s;
}

#switch-input:checked + label img.gear-image {
	-webkit-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	transition-duration: 1s;
}

#switch-input:not(:checked) + label img.gear-image {
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	-webkit-transition-duration: 1s;
	-moz-transition-duration: 1s;
	-o-transition-duration: 1s;
	transition-duration: 1s;
}
